<footer>
  <mat-toolbar color="primary" class="footer-toolbar">
    <span>© 2024 My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button for privacy policy"
    >
      <mat-icon>policy</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button for terms of service"
    >
      <mat-icon>gavel</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button for contact"
    >
      <mat-icon>contact_mail</mat-icon>
    </button>
  </mat-toolbar>
</footer>
